<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body,
      div#envelope-app {
        margin: 0;
        border: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
    </style>
    <script defer src="<%= jsBundleFilename %>"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
