# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/user-settings                           @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers
/workspaces/3scale                                  @backstage/community-plugins-maintainers  @fmenesesg
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
