# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                                       @backstage/community-plugins-maintainers
yarn.lock                                                               @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                                             @backstage/community-plugins-maintainers @backstage-service
.github/archived-plugins.json                                           @backstage/community-plugins-maintainers

/workspaces/3scale                                                      @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/acr                                                         @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/acs                                                         @backstage/community-plugins-maintainers  @sachaudh @alwayshooin @dvail @maknop
/workspaces/adr                                                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/agent-forge                                                 @backstage/community-plugins-maintainers  @sbraicu @sriaradhyula @subbaksh @suwhang-cisco
/workspaces/airbrake                                                    @backstage/community-plugins-maintainers
/workspaces/allure                                                      @backstage/community-plugins-maintainers
/workspaces/amplication                                                 @backstage/community-plugins-maintainers  @itainathaniel
/workspaces/analytics                                                   @backstage/community-plugins-maintainers  @deshmukhmayur @yashoswalyo @riginoommen @jmezach @AndrienkoAleksandr @PatAKnight @dzemanov @christoph-jerolimov @karthikjeeyar @rohitkrai03
/workspaces/analytics/plugins/analytics-module-matomo                   @backstage/community-plugins-maintainers  @deshmukhmayur @yashoswalyo @riginoommen
/workspaces/analytics/plugins/analytics-module-newrelic-browser         @backstage/community-plugins-maintainers  @jmezach
/workspaces/analytics/plugins/analytics-provider-segment                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @PatAKnight @dzemanov @christoph-jerolimov @karthikjeeyar @rohitkrai03
/workspaces/announcements                                               @backstage/community-plugins-maintainers  @kurtaking @gaelgoth
/workspaces/apache-airflow                                              @backstage/community-plugins-maintainers
/workspaces/apiiro                                                      @backstage/community-plugins-maintainers  @hetsaliya-crestdata @zuberc-cds @IgalKreich @shaim-apiiro
/workspaces/apollo-explorer                                             @backstage/community-plugins-maintainers
/workspaces/argocd                                                      @backstage/community-plugins-maintainers  @caugello @cryptorodeo @djanickova @Eswaraiahsapram @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/azure-devops                                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-resources                                             @backstage/community-plugins-maintainers  @sarabadu
/workspaces/azure-sites                                                 @backstage/community-plugins-maintainers  @deepan10 @sarabadu
/workspaces/azure-storage-explorer                                      @backstage/community-plugins-maintainers  @deepan10
/workspaces/badges                                                      @backstage/community-plugins-maintainers
/workspaces/bazaar                                                      @backstage/community-plugins-maintainers
/workspaces/bitbucket-pull-requests                                     @backstage/community-plugins-maintainers  @mbruhin @smymoon
/workspaces/bitrise                                                     @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                                                   @backstage/community-plugins-maintainers  @deepan10
/workspaces/bookmarks                                                   @backstage/community-plugins-maintainers  @logonoff @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @hopehadfield
/workspaces/catalog                                                     @backstage/community-plugins-maintainers  @awanlin @freben
/workspaces/cicd-statistics                                             @backstage/community-plugins-maintainers
/workspaces/cloudbuild                                                  @backstage/community-plugins-maintainers
/workspaces/code-climate                                                @backstage/community-plugins-maintainers
/workspaces/code-coverage                                               @backstage/community-plugins-maintainers  @alde
/workspaces/codescene                                                   @backstage/community-plugins-maintainers
/workspaces/confluence                                                  @backstage/community-plugins-maintainers  @fjudith
/workspaces/confluence/plugins/techdocs-backend-module-confluence       @backstage/community-plugins-maintainers  @joelml
/workspaces/copilot                                                     @backstage/community-plugins-maintainers  @esw-afabiano @scottguymer @henrikedegrd
/workspaces/cost-insights                                               @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/dynatrace                                                   @backstage/community-plugins-maintainers
/workspaces/entity-feedback                                             @backstage/community-plugins-maintainers  @kuangp
/workspaces/entity-validation                                           @backstage/community-plugins-maintainers
/workspaces/explore                                                     @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                                    @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/firehydrant                                                 @backstage/community-plugins-maintainers
/workspaces/flux                                                        @backstage/community-plugins-maintainers  @fjudith @fleveillee
/workspaces/fossa                                                       @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/gcalendar                                                   @backstage/community-plugins-maintainers
/workspaces/gcp-projects                                                @backstage/community-plugins-maintainers
/workspaces/git-release-manager                                         @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github                                                      @backstage/community-plugins-maintainers
/workspaces/github/plugins/github-actions                               @backstage/community-plugins-maintainers
/workspaces/github/plugins/github-deployments                           @backstage/community-plugins-maintainers
/workspaces/github/plugins/github-discussions                           @backstage/community-plugins-maintainers  @minkimcello @taras
/workspaces/github/plugins/github-discussions-common                    @backstage/community-plugins-maintainers  @minkimcello @taras
/workspaces/github/plugins/search-backend-module-github-discussions     @backstage/community-plugins-maintainers  @minkimcello @taras
/workspaces/github/plugins/github-issues                                @backstage/community-plugins-maintainers
/workspaces/github/plugins/github-pull-requests-board                   @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/gitops-profiles                                             @backstage/community-plugins-maintainers
/workspaces/gocd                                                        @backstage/community-plugins-maintainers
/workspaces/grafana                                                     @backstage/community-plugins-maintainers
/workspaces/graphiql                                                    @backstage/community-plugins-maintainers
/workspaces/graphql-voyager                                             @backstage/community-plugins-maintainers
/workspaces/ilert                                                       @backstage/community-plugins-maintainers
/workspaces/jaeger                                                      @backstage/community-plugins-maintainers
/workspaces/jenkins                                                     @backstage/community-plugins-maintainers
/workspaces/jfrog-artifactory                                           @backstage/community-plugins-maintainers  @BethGriggs @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/kafka                                                       @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/kiali                                                       @backstage/community-plugins-maintainers  @aljesusg @josunect @jshaughn
/workspaces/lighthouse                                                  @backstage/community-plugins-maintainers
/workspaces/linguist                                                    @backstage/community-plugins-maintainers  @awanlin
/workspaces/linkerd                                                     @backstage/community-plugins-maintainers
/workspaces/manage                                                      @backstage/community-plugins-maintainers  @grantila
/workspaces/mcp-chat                                                    @backstage/community-plugins-maintainers  @Lucifergene @christoph-jerolimov @Eswaraiahsapram
/workspaces/mend                                                        @backstage/community-plugins-maintainers  @NormanWenzelWSS @rupalvihol @hetsaliya-crestdata
/workspaces/microsoft-calendar                                          @backstage/community-plugins-maintainers
/workspaces/mta                                                         @backstage/community-plugins-maintainers  @ibolton336 @sjd78 @djzager @pranavgaikwad @shawn-hurley
/workspaces/multi-source-security-viewer                                @backstage/community-plugins-maintainers  @caugello @cryptorodeo @djanickova @Eswaraiahsapram @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar
/workspaces/n8n                                                         @backstage/community-plugins-maintainers  @andreahlert
/workspaces/newrelic                                                    @backstage/community-plugins-maintainers
/workspaces/nexus-repository-manager                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jessicajhee @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/nomad                                                       @backstage/community-plugins-maintainers
/workspaces/noop                                                        @backstage/community-plugins-maintainers
/workspaces/npm                                                         @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @karthikjeeyar @logonoff
/workspaces/ocm                                                         @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff @lokanandaprabhu @rohitkrai03 @dzemanov
/workspaces/octopus-deploy                                              @backstage/community-plugins-maintainers  @jmezach
/workspaces/opencost                                                    @backstage/community-plugins-maintainers
/workspaces/periskop                                                    @backstage/community-plugins-maintainers
/workspaces/pingidentity                                                @backstage/community-plugins-maintainers  @jessicajhee @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/playlist                                                    @backstage/community-plugins-maintainers  @kuangp
/workspaces/puppetdb                                                    @backstage/community-plugins-maintainers
/workspaces/quay                                                        @backstage/community-plugins-maintainers  @caugello @cryptorodeo @djanickova @Eswaraiahsapram @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/rbac                                                        @backstage/community-plugins-maintainers  @AndrienkoAleksandr @christoph-jerolimov @debsmita1 @divyanshiGupta @PatAKnight @dzemanov @jrichter1 @HusneShabbir @karthikjeeyar @rohitkrai03 @djanickova
/workspaces/repo-tools                                                  @backstage/community-plugins-maintainers
/workspaces/report-portal                                               @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/rollbar                                                     @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-annotator                         @backstage/community-plugins-maintainers  @debsmita1 @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/scaffolder-backend-module-kubernetes                        @backstage/community-plugins-maintainers  @debsmita1 @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/scaffolder-backend-module-regex                             @backstage/community-plugins-maintainers  @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/scaffolder-backend-module-servicenow                        @backstage/community-plugins-maintainers  @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/scaffolder-backend-module-sonarqube                         @backstage/community-plugins-maintainers  @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/scaffolder-relation-processor                               @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr @dzemanov @lholmquist @PatAKnight @djanickova
/workspaces/sentry                                                      @backstage/community-plugins-maintainers
/workspaces/servicenow                                                  @backstage/community-plugins-maintainers  @AndrienkoAleksandr @ciiay @PatAKnight @christoph-jerolimov @jrichter1 @HusneShabbir @karthikjeeyar @rohitkrai03 
/workspaces/shortcuts                                                   @backstage/community-plugins-maintainers
/workspaces/sonarqube                                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/splunk                                                      @backstage/community-plugins-maintainers
/workspaces/stack-overflow                                              @backstage/community-plugins-maintainers
/workspaces/stackstorm                                                  @backstage/community-plugins-maintainers
/workspaces/tech-insights                                               @backstage/community-plugins-maintainers  @xantier @punkle @kurtaking
/workspaces/tech-insights/plugins/tech-insights-maturity                @backstage/community-plugins-maintainers  @xantier @punkle @maicaballangan
/workspaces/tech-radar                                                  @backstage/community-plugins-maintainers
/workspaces/tekton                                                      @backstage/community-plugins-maintainers  @caugello @cryptorodeo @djanickova @Eswaraiahsapram @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/todo                                                        @backstage/community-plugins-maintainers
/workspaces/topology                                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta @its-mitesh-kumar @logonoff @lokanandaprabhu @rohitkrai03 @jrichter1 @HusneShabbir @karthikjeeyar 
/workspaces/vault                                                       @backstage/community-plugins-maintainers
/workspaces/wheel-of-names                                              @backstage/community-plugins-maintainers  @philippeckelintive @johannes-kirchner
/workspaces/xcmetrics                                                   @backstage/community-plugins-maintainers
