{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Echo API",
    "description": "A sample echo API"
  },
  "servers": [
    {
      "url": "http://echo-api.3scale.net/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Echo API with no parameters",
        "operationId": "echo_no_params",
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/{echo}": {
      "get": {
        "description": "Echo API with parameters",
        "operationId": "echo_with_params",
        "parameters": [
          {
            "name": "echo",
            "in": "path",
            "description": "The string to be echoed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "post": {
        "summary": "Ping message",
        "description": "Returns the same message that was sent in the request body.",
        "operationId": "pingMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "example": "Hello, world!"
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The echoed message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Hello, world!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, missing 'message' field"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseModel": {
        "type": "object",
        "required": ["method", "path", "args", "headers"],
        "properties": {
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "args": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          }
        }
      },
      "ErrorModel": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PingRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Hello, world!"
          }
        },
        "required": ["message"]
      },
      "PingResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Hello, world!"
          }
        }
      }
    }
  }
}
