{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Echo API.",
    "description": "A sample echo API."
  },
  "paths": {
    "/": {
      "get": {
        "description": "Echo API with no parameters",
        "operationId": "echo_no_params",
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/{echo}": {
      "get": {
        "description": "Echo API with parameters",
        "operationId": "echo_with_params",
        "parameters": [
          {
            "name": "echo",
            "in": "path",
            "description": "The string to be echoed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseModel"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "http://echo-api.3scale.net/"
    }
  ],
  "components": {
    "schemas": {
      "ResponseModel": {
        "type": "object",
        "required": ["method", "path", "args", "headers"],
        "properties": {
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "args": {
            "type": "string"
          },
          "headers": {
            "type": "object"
          }
        }
      },
      "ErrorModel": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
