apiiro:
  accessToken:
  defaultAllowMetricsView: true
  # Optional Configuration for allow and disallow the component
  permissionControl:
    entityNames:
      - component:default/example-website
    exclude: true
