apiiro:
  accessToken:
  defaultAllowMetricsView: true
  # Optional Configuration for allow and disallow the component
  annotationControl:
    entityNames:
      - component:default/example-website
    exclude: true
  # Optional Configuration for default risk filters
  defaultRiskFilters:
    RiskLevel:
      - Critical
      - High
    RiskInsight:
      - Public repository
      - Deployed
      - Valid
    RiskCategory:
      - SAST findings
      - Secrets
      - Entry point changes
      - API Runtime
    Provider:
      - ApiiroSca
    PolicyTags:
      - Security Code Review
      - Compliance Review (OSS)
