app:
  title: Tech insights Example App
  baseUrl: http://localhost:3000
  packages:
    include:
      - '@backstage/plugin-app-visualizer'
      - '@backstage/plugin-catalog-graph'
      - '@backstage-community/plugin-manage'
      - '@backstage-community/plugin-manage-module-tech-insights'
  extensions:
    - manage-tab:app/foo-tab2:
        config:
          title: Second tab
    - manage-card-widget:app/foo-widget1:
        config:
          attachTo:
            - component
            - system
            - $entities
    - manage-content-widget:tech-insights/cards:
        config:
          attachTo:
            - component
            - $entities
    - manage-content-widget:tech-insights/grid:
        config:
          attachTo:
            - system
    - manage-card-widget:tech-insights/grid:
        config:
          attachTo:
            - $starred
    - manage-column:tech-insights/checks:
        config:
          attachTo:
            - tab: '$entities'
              multi: false
            - tab: 'component'
              multi: false
            - system
            - api

manage:
  title: Manage my things
  subtitle: Things I own and work with
  showStarred: true
  enableWholeOrganization: true
  progressStyle: linear
  order:
    tabs:
      - entities
      - starred-entities
      - my-tab-1
      - organization
      - my-tab-2
    cards: []
    contentAbove:
      - app/foo-widget1
      - app/foo-widget2
      - tech-insights/checks
    contentBelow:
    columns:
      - app/foo-column
      - tech-insights/checks

organization:
  name: Tech insights Example

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  database:
    client: better-sqlite3
    connection: ':memory:'

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

techdocs:
  builder: 'local'
  generator:
    runIn: 'local'
  publisher:
    type: 'local'

auth:
  providers:
    guest:
      userEntityRef: user:default/guest

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location]
  locations:
    # Local example data, file locations are relative to the backend process, typically `packages/backend`
    - type: file
      target: ../../examples/entities.yaml

    # Local example organizational data
    - type: file
      target: ../../examples/org.yaml
      rules:
        - allow: [User, Group]

techInsights:
  factRetrievers:
    entityOwnershipFactRetriever:
      cadence: '*/1 * * * *'
      lifecycle: { timeToLive: { weeks: 2 } }
    entityMetadataFactRetriever:
      cadence: '*/1 * * * *'
      lifecycle: { timeToLive: { weeks: 2 } }
    techdocsFactRetriever:
      cadence: '*/1 * * * *'
      lifecycle: { timeToLive: { weeks: 2 } }
    apiDefinitionFactRetriever:
      cadence: '*/1 * * * *'
      lifecycle: { timeToLive: { weeks: 2 } }
#  See packages/backend/src/index.ts for programmatically registration
#  factChecker:
#    checks:
#      groupOwnerCheck:
#        type: json-rules-engine
#        name: Group Owner Check
#        description: Verifies that a group has been set as the spec.owner for this entity
#        factIds:
#          - entityOwnershipFactRetriever
#        rule:
#          conditions:
#            all:
#              - fact: hasGroupOwner
#                operator: equal
#                value: true
