name: Release workspace

on:
  # workflow_dispatch:
  #   inputs:
  #     workspace:
  #       description: "Name of the Workspace"
  #       required: true
  #       type: string
  workflow_call:
    inputs:
      workspace:
        description: "Name of the Workspace"
        required: true
        type: string

# concurrency:
#   group: ${{ github.workflow }}-${{ inputs.workspace }}

jobs:
  release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./workspaces/${{ inputs.workspace }}
    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # Needed for auth

      - name: Install changesets cli
        run: mkdir __changesets-temp && pushd __changesets-temp && yarn add @changesets/cli && mv node_modules .. && popd

      - name: Changesets detect changes
        id: changesets-pr
        uses: changesets/action@v1
        with:
          title: Version Packages (${{ inputs.workspace }})
      - name: Do not continue if changesets are detected
        if: steps.changesets-pr.outputs.hasChangesets == 'true'
        run: exit 1
      - name: Exit if publishing is not needed
        run: node ../../scripts/ci/publishing-needed.js ${{ inputs.workspace }}

      - name: yarn install
        uses: backstage/actions/yarn-install@v0.6.5
        with:
          cache-prefix: ${{ runner.os }}-v18.x

      - name: Compile TypeScript
        run: yarn tsc:full

      - name: Build all packages
        run: yarn build

      # Creates a changesets PR if there are changesets on master; otherwise publishes packages
      # (once the changesets PR is merged and removes all changesets).
      - name: Changesets PR or publish
        id: changesets-publish
        uses: changesets/action@v1
        with:
          publish: yarn workspaces foreach npm publish --access public
          title: Version Packages (${{ inputs.workspace }})
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
